@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import url('/style/wu-icons-style.css');
@import 'tailwindcss';

:root {
    --color-main: 230 246 250;
    --color-background: 209 238 248;
    --color-point: 79 163 199;
    --color-important: 248 155 0;
    --color-title: 15 21 42;
    --color-context: 100 116 139;
}

/*utility*/
@layer utilities {

    /* Background */
    .bg-main {
        background-color: rgb(var(--color-main) / 1);
    }

    .bg-background {
        background-color: rgb(var(--color-background) / 1);
    }

    .bg-point {
        background-color: rgb(var(--color-point) / 1);
    }

    .bg-important {
        background-color: rgb(var(--color-important) / 1);
    }

    /* Text */
    .text-main {
        color: rgb(var(--color-main) / 1);
    }

    .text-context {
        color: rgb(var(--color-context) / 1);
    }

    .text-title {
        color: rgb(var(--color-title) / 1);
    }

    .text-point {
        color: rgb(var(--color-point) / 1);
    }

    .text-important {
        color: rgb(var(--color-important) / 1);
    }

    /* Border */
    .border-main {
        border-color: rgb(var(--color-main) / 1);
    }

    .border-point {
        border-color: rgb(var(--color-point) / 1);
    }

    .border-important {
        border-color: rgb(var(--color-important) / 1);
    }
}

/* Regular (400) */
@font-face {
    font-family: 'Paperlogy';
    font-weight: 400;
    /* Regular */
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2') format('woff2');
}

/* Bold (700) */
@font-face {
    font-family: 'Paperlogy';
    font-weight: 700;
    /* Bold */
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2') format('woff2');
}

/* 3. @theme를 사용하여 Tailwind 설정에 커스텀 폰트 추가 (v4.x 방식) */
@theme {
    --font-paperlogy: 'Paperlogy', 'sans-serif';
}


@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}