@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import 'tailwindcss';
@plugin "tailwind-scrollbar-hide";

/* Regular (400) */
@font-face {
    font-family: 'Paperlogy';
    font-weight: 400;
    /* Regular */
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2') format('woff2');
}

/* Bold (700) */
@font-face {
    font-family: 'Paperlogy';
    font-weight: 700;
    /* Bold */
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2') format('woff2');
}

/* 3. @theme를 사용하여 Tailwind 설정에 커스텀 폰트 추가 (v4.x 방식) */
@theme {
    --font-paperlogy: 'Paperlogy', 'sans-serif';
}